Repository ksync/ksync, pull requests merged in 2018-07, with the labels that each got.

#207 If args are submitted to `get` search on those terms.
  cmd/ksync/get.go
Labels: enhancement, ksync, usability

#213 Allows setting a different graph root dir for radar
  cmd/ksync/ksync.go
  pkg/ksync/cluster/daemon_set.go
  pkg/ksync/cluster/service_test.go
  pkg/ksync/doctor/checks.go
  pkg/ksync/doctor/docker.go
  pkg/proto/radar.pb.go
  pkg/radar/docker.go
  proto/radar.proto
Labels: enhancement, radar

#215 Fix typos in architecture document
  docs/architecture.md
Labels: Documentation, bug

#220 Change binary file os matching
  pkg/syncthing/fetch.go
Labels: blocker, bug, ksync
